

  .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  width: 100%;
  gap: 40px;
}

.hero-text {
  flex: 1;
}

.hero-text p {
  font-size: 1.2rem;
  margin: 20px 0;
  color: #444;
  line-height: 1.5;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 90%;
  max-width: 600px;
  height: auto;
  border-radius: 20px;
  border: solid #facc15 5gitpx;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* Heading Style */
.heading {
  font-size: 3.5rem;
  line-height: 1.2;
}

.heading span {
  display: inline-block;
  background: linear-gradient(to top, #fcd5ce 25%, transparent 25%);
  padding: 0 3px;
  color: #064e3b;
  font-size: 3.5rem;
  font-weight: bold;
}

/* CTA Button */
.headerbutton {
  padding: 12px 24px;
  border: none;
  background: #2563eb;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.headerbutton:hover {
  background: #1d4ed8;
  transform: scale(1.05);
}

/* Feature Section */
.featurelist {
  margin-top: 4rem;
  text-align: center;
  padding: 0 60px;
  width: 100%;
}

.cardtitle {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* Features Grid */
.features {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 250px;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  border: 2px solid #fcd34d;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

/* Card content */
.cardlogos {
  background-color: antiquewhite;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.cardlogos img {
  width: 70%;
  height: 70%;
}

.cardheading {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  color: #444;
}

/* Responsive */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    order: 1;
  }

  .hero-image {
    order: 2;
  }

  .features {
    justify-content: center;
     flex-direction: column;
  }
   .card {
    width: 100%;     /* full width */
    max-width: none; /* remove the cap */
  }
}

@media (max-width:425px) {

  .hero{
    flex-direction: column;
  }
}
